*target*
*.war
*.ear
*.class
*~

# eclipse specific git ignore
RoboLions2015/*.pydevproject
RoboLions2015/.metadata
RoboLions2015/build/**
RoboLions2015/dist/**
RoboLions2015/bin/**
RoboLions2015/tmp/**
RoboLions2015/tmp/**/*
RoboLions2015/*.tmp
RoboLions2015/*.bak
RoboLions2015/*.swp
RoboLions2015/*~.nib
RoboLions2015/local.properties
RoboLions2015/.settings/
RoboLions2015/.loadpath

# External tool builders
**/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
**/*.launch

# sysProps.xml is generated every time code is deployed to the robot.
**/sysProps.xml
